@{
    ViewData["Title"] = "About";
}


<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Why should you work with us</h2>
                <hr class="hr-heading">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-xl-6">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <h5 class="number">1.</h5>
                        <div class="flex-grow-1">
                            <h5>Expertise in digital products</h5>
                            <div class="text">Civil those mrs enjoy shy fat merry. You greatest jointure saw horrible. He private he on be how the words look imagine suppose</div>
                        </div>
                    </li>
                    <li class="d-flex">
                        <h5 class="number">2.</h5>
                        <div class="flex-grow-1">
                            <h5>Highly skilled team of experts</h5>
                            <div class="text">Blind there if every no so at. Own neglected you preferred way sincerity delivered his attempted. To of message more now cottage</div>
                        </div>
                    </li>
                    <li class="d-flex">
                        <h5 class="number">3.</h5>
                        <div class="flex-grow-1">
                            <h5>Partnerships with marketing agencies</h5>
                            <div class="text">Be at miss or each good play home they. It leave taste mr in it fancy. She son lose does fond bred gave lady get. Sir her company</div>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-xl-6">

                <!-- Counter -->
                <div class="counter-container">
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Happy Customers</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>
                        <div class="counter-info">Issues Solved</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Good Reviews</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Case Studies</div>
                    </div> <!-- end of counter-cell -->
                </div> <!-- end of counter-container -->
                <!-- end of counter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of about -->
