@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="h1-large">Merhaba<br />UT'ya<br> HOŞGELDİNİZ</h1>
                <p style="color: #7dc22b; font-size: 20px;">Devam etmek için lütfen giriş yapınız veya kayıt olunuz.</p>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="button-container">
                    <partial name="_LoginPartial" />

                </div> <!-- end of button-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->