@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @if (SignInManager.IsSignedIn(User))
                {
                    <h1 class="h1-large">Merhaba<br />@User.Identity.Name</h1>
                }
                else
                {
                    <h1 class="h1-large">Merhaba<br />UT'ya<br> HOŞGELDİNİZ</h1>
                    <p style="color: #7dc22b; font-size: 20px;">Devam etmek için lütfen giriş yapınız veya kayıt olunuz.</p>
                }
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="button-container">
                    @if (!(SignInManager.IsSignedIn(User)))
                    {
                        <a class="btn-solid-lg page-scroll" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
                        <a class="btn-outline-lg page-scroll" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
                    }

                </div> <!-- end of button-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->