@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G191210046</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/swiper.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/lib/bootstrap/dist/images/favicon.png">
</head>
<body>
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" asp-area="" asp-controller="Home" asp-action="Index"><img src="/lib/bootstrap/dist/images/logo.png" alt="alternative"></a>

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Elma</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Aktif Siparişler</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Geçmiş Siparişler</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Kullanıcılar</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Dükkan</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Urun" asp-action="Index">Ürünler</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-white">Çıkış Yap</button>
                            </form>
                        </li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Müşteri</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Sipariş Oluştur</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Siparişlerim</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Kullanıcılar</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Bilgilerim</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    }

                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About UT</h6>
                        <p class="p-small">Gelişen teknoloji çağına ayak uydurarak kullanıcılarımız için Uzaktan Terzi Uygulaması.</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a></li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">Bizimle İletişime Geçin <a href="mailto:yunus.eminler@gmail.com"><strong>yunus.eminler@gmail.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a>Yunus Emre Eminler</a></p>
                </div>

            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="images/up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->
    <!-- Scripts -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/lib/bootstrap/dist/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/lib/bootstrap/dist/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="/lib/bootstrap/dist/js/scripts.js"></script> <!-- Custom scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
